@import url('https://fonts.googleapis.com/css2?family=Lobster&family=PT+Sans:wght@700&family=Rajdhani:wght@300&display=swap');

/*font-family: 'Lobster', cursive; /* Título de área */
/*font-family: 'PT Sans', sans-serif; /* Menu e Link */
/*font-family: 'Rajdhani', sans-serif; /* Caixa de texto */

body{
    background: url(../img/dust_scratches.png);
}

p{
    font-family: 'Rajdhani', sans-serif;
}
.faixaPreta{
    background: #262626;
    color: white;
    display: flex;
    justify-content: center;/*Centraliza conteúdo, sempre junto ao display flex*/
}
.site{
    width: 100%;/*Largura*/
    max-width: 1200px;/*Largura máxima*/
}



.topo{
    display: flex;/*Colocar os itens uns ao lado dos outros*/
    justify-content: space-between;/*Espaçamento central entre os itens*/
    align-items: center;
}
.topo h2{ /*Telefone*/
    display: flex;
    align-items: center;
}
.topo ul{
    display: flex;
    justify-content: space-between;
}
.topo ul li img{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
}



.menu{
    background: #948ebf;
    display: flex;
    justify-content: center;
}
.menu button{
    display: none;
}
.menu article h1{
    background: url(../img/LogoKiBeleza.svg) no-repeat;
    background-size: 100% 100%;
    text-indent: -9000px;
    height: 120px;
    width: 300px;
    margin: 15px;
}
.menu article ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu article ul a{          /*Padrão*/
    color: #401230;
    text-decoration: none;
}
.menu article ul .ativo{      /*Quando clicar*/
    color: #8c375f;
    font-size: 1.5rem;
}
.menu article ul a:hover{     /*Quando passar o mouse*/
    color: #8c375f;
    font-size: 1.5rem;
}
.menu article ul a li{/*a=links*/
    font-family: 'PT Sans', sans-serif;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.banner{
    height: 500px;
    width: 100%;
}
.banner img{
    width: 100%;
    height: 500px;
}

/*SETAS BANNER*/
.banner .slick-prev{
    left: 25px;
    z-index: 99; /*Adianta camadas*/
}
.banner .slick-next{
    right: 25px;
}
.banner .slick-prev::before,
.banner .slick-next::before{
    font-size: 30px;
    color: #948ebf;
}



.sobre{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.sobre img{
    background: pink;
    height: 350px;
    width: 580px;
    border-radius: 0 15px 0 25px; /*medida=0, não inclua "px"*/
    margin: 10px;
    box-shadow: 0px 5px 10px gray; /*ordem: direito, inferior, dispersão de sombra*/
}
.sobre h2{
    font-family: 'Lobster', cursive;
    font-size: 35pt;
    display: flex;
    justify-content: flex-start;
}
.sobre p{
    text-align: justify;
}
.sobre .site .topo div{
    width: 580px;
    height: 350px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sobre h3{
    font-family: 'PT Sans', sans-serif;
    font-size: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    background: #948ebf;
    width: 150px;
    height: 50px;
    border-radius: 5px 0;
    border: 1px #a64941 solid;
}



.servico{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding: 20px 0;
    background: url(../img/fundoServico.png) no-repeat;
    background-size: 100% 100%;
}
.servico .site h2{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 25pt;
}
.servico .site p{
    margin: 15px 0 20px 0;
    text-align: center;
}
.servico .site .conteudoServico{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.servico .site .conteudoServico div{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 300px;
}
.servico .site .conteudoServico div img{
    width: 250px;
    height: 320px;
    display: flex;
    margin: 0 20px;
}
.servico .site .conteudoServico div h3{
    margin: 10px 0;
    font-family: 'Lobster', cursive;
    font-size: 20pt;
}
.servico .site .conteudoServico div p{
    margin: 15px 20px 30px 20px;
    text-align: justify;
}



.destaque{
    height: 400px;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/fundoDestaque.png) no-repeat;
    background-size: 100% 100%;
}
.destaque div{ /*opacidade*/
    width: 100%;
    height: 400px;
    background: black;
    position: absolute; /*ocupa toda caixa, indiferente aos objetos ao redor*/
    opacity: 0.1;
}
.destaque img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative; /*relativo à opacidade, não será afetado*/
}



.equipe{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background: url(../img/fundoEquipe.png) no-repeat;
    background-size: 100% 100%;
}
.equipe .site h2{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 25pt;
}
.equipe .site p{
    margin: 15px 0 20px 0;
    text-align: center;
}
.equipe .site .conteudoEquipe{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.equipe .site .conteudoEquipe div{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 300px;
}
.equipe .site .conteudoEquipe div img{
    width: 250px;
    height: 250px;
    display: flex;
    margin: 80px 20px 50px 20px;
    border-radius: 50%;
}
.equipe .site .conteudoEquipe div h3{
    margin: 10px 0;
    font-family: 'Lobster', cursive;
    font-size: 20pt;
}



.galeria{
    width: 100%;
    height: 400px;
    padding: 100px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.galeria img{
    width: 200px;
    height: 200px;
    margin: auto 50px;
}



.depoimento{
    height: 600px;
    width: 100%;
    background: url(../img/fundoDepoimento.png) no-repeat;
    background-size: 100% 100%;
}
.depoimento article{
    height: 600px;
    margin: auto;
    color: rgb(156, 154, 154);
    font-size: 20pt;
    text-align: center;
}
.depoimento article p{
    line-height: 35pt;
    padding: 100px 0;
}
.depoimento article h4{
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    display: flex;
    justify-content: right;
    padding-bottom: 100px;
}



.news{
    display: flex;
    justify-content: center;
    height: 800px;
    padding: 20px 0;
    background: url(../img/fundoNews.png) no-repeat;
    background-size: 100% 100%;
}
.news .site h2{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 25pt;
    color: #d89ad9;
}
.news .site p{
    margin: 15px 0 20px 0;
    text-align: center;
}
.news .site .conteudoNews{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
.news .site .conteudoNews div{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 300px;
    height: 580px;
}
.news .site .conteudoNews div img{
    width: 294px;
    height: 400px;
    display: flex;
    margin: 0 20px;
    border: solid #8b63a6 3px;
    display:flex;
}
.news .site .conteudoNews div h3{
    margin: 10px 0;
    font-family: 'Lobster', cursive;
    font-size: 20pt;
}
.news .site .conteudoNews div p{
    text-align: justify;
}



.info{
    background: url(../img/fundoRodape.png) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    color: white;
}
.info h3{
    font-family: 'Lobster', cursive;
    font-size: 28pt;
    margin-left: 10px;
}
.info .site{
    margin: 60px 0 120px 0;
}
.info .infoSobre{
    width: 480px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info .infoSobre .logoRodape{
    min-width: 350px;
    min-height: 140px;
    margin: 15px 10px;
}
.info .infoSobre p{
    width: 350px;
    margin: 0 10px;
    text-align: justify;
}
.info .infoSobre div{
    height: 60px;
    width: 350px;
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.info .infoSobre div img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}



.info .infoLinks{
    width: 480px;
    height: 420px;
    text-align: center;
    flex-direction: column;
}
.info .infoLinks ul{
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}
.info .infoLinks ul li{
    width: 100%;
    margin-top: 15px;
}
.info .infoLinks ul a{
    color: white;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 15pt;
}



.info .infoContato{
    width: 480px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.info .infoContato div{
    width: 380px;
    height: 60px;
    display: flex;
    align-items: center;
}
.info .infoContato img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.info .infoContato div div{
    flex-direction: column;
    align-items: flex-start;
}
.info .infoContato div p{
    margin-left: 30px;
    font-size: 18pt;
    font-weight: bold;
    text-align: left;
}

.formContato{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: #401230;
}
.formContato h2{
    font-family: 'Lobser', cursive;
    font-size: 35px;
    text-align: center;
}
.formContato .site nav{
    display: flex;
    justify-content: space-between;
}
.formContato .site form nav div{
    width: 550px;
    height: 350px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
}
.formContato .site nav label{
    font-family: 'Lobster', cursive;
    font-size: 25px;
    text-align: left;
}
.formContato .site nav input{
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
    text-align: left;
    height: 50px;
}
.formContato .site nav textarea{
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
    text-align: left;
    resize: none;
}
.botoesForm{
    display: flex;
    justify-content: space-between;
}
.formContato .site nav .botoesForm .btnForm{
    width: 30%;
    margin: 1px auto;
    color: #2a2a2a;
    text-align: center;
    background: #f2f2f2;
    border: 2px solid #401230;
    border-radius: 10px;
    padding: 10px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 16px;
}
.formContato .site nav .botoesForm .btnForm:hover{
    color: #f2f2f2;
    cursor: pointer;
    background: #401230;
}




.direitos{
    height: 50px;
    width: 100%;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.direitos span{
    color: #d89ad9;
}




                /*RESPONSIVO 960px ipadair teste800*/
@media (max-width: 960px){
    .sobre .site .topo {
        flex-wrap: wrap;
        justify-content: center;
    }
    .servico .site .conteudoServico{
        flex-wrap: wrap;
    }
    .news .conteudoNews div{
        background: #ffffff50;
        margin: 0 20px;
    }
    .news .site .conteudoNews{
        display: flex;
        justify-content: center;
    }
    .news{
        height: auto;
    }
    .depoimento{
        height: auto;
    }
    .depoimento div{
        height: auto;
    }
    .info{
        height: auto;
    }
    .info article{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        margin: 20px 0;
    }
    .info article .infoSobre{
        align-items: center;
        margin-bottom: 20px;
    }
    .info .infoLinks{
        height: auto;
        background: #40123050;
    }
    .info article .infoContato{
        align-items: center;
    }
}



            /*RESPONSIVO 600px galaxys8 teste360*/
@media (max-width: 600px){
    .faixaPreta .site h2{
        display: none;
    }
    .faixaPreta .site ul {
        width: 100%;
    }
    .menu button{
        display: block;

    }
    .menu nav {
        position: fixed;
        height: 100%;
        background: #8b63a650;
        z-index: 9999;
        padding: 10px;
        margin: 0;
        top: 0;     /*Item colado ao topo*/
        max-width: 250px;
        width: 50%;
        right: -250px;     /*Escondido ao lado direito*/
        transition: right .5s ease-out;    /*Tempo para surgir*/
    }
    .menuAtivo .menu nav{
        right: 0px;
    }
    .menu nav ul{
        flex-direction: column;
        align-items: center;
    }
    .menu article ul a li{
        margin-top: -10px;
    }
    .menu nav ul a{
        text-decoration: none;
        margin: 5% 20%;
        padding: 10% 0%;
        width: 120px;
        height: 15px;
        text-align: center;
        border-radius: 10px;
        color: #8c375f;
        background: #401230;
    }
    .abrirMenu{
        background: url(../img/menu.svg) no-repeat;
        background-size: 40px 40px;
        padding: 25px;
        border: 0px;
        margin-left: 5%;
        margin-top: 12%;
        display: block;
    }
    .fecharMenu{
        background: url(../img/fechar.svg) no-repeat;
        background-size: 40px 40px;
        padding: 25px;
        border: 0px;
        margin-right: 5%;
        display: block;
    }
    .menu article h1{
        width: 100%;
    }
    .banner{
        display: none;
    }
    .depoimento article p{
        line-height: 20pt;
        font-size: .8em;       /*ou 0.8em, não há diferença*/
        padding: 50px 15px;
    }
    .depoimento article h4{
        padding-bottom: 50px;
    }
    .sobre img{
        width: 100%;
    }
    .info article{
        margin: 0;
    }
    .info .infoContato div{
        width: 100%;
    }
    .info article .infoSobre{
        width: 100%;
    }
    .info .infoSobre div img{
        width: 50px;
        height: 50px;
    }
}